@import '../node_modules/wikimedia-ui-base/wikimedia-ui-base.less';
@import '../vendor/wikimedia/toolforge-bundle/Resources/assets/wikimedia-base.less';

:root {
    // Workaround for https://github.com/webpack-contrib/css-loader/issues/708
    border: 0;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: @wmui-color-base80;
    font-size: 0.9rem;
}

header,
footer {
    max-width: 950px;
    margin: 3rem auto;
}

header {
    h1 {
        font-size: 2.25rem;
        font-weight: 600;
        letter-spacing: 0;
        font-family: @font-family-system-sans;
        margin: 0;
    }
    .top-row {
        display: flex;
        align-items: center;
        .left {
            flex: 2;
        }
        nav.user {
            flex: 1;
            text-align: right;
            ul {
                margin: 0;
            }
        }
    }
    .description p {
        width: 50%;
        margin: 0 0 0.8rem 0;
    }
}

footer {
    .toolforge {
        a {
            float: left;
            width: 128px;
            display: flex;
            align-items: center;
            font-size: smaller;
            color: #7f7f7f;
            font-variant: small-caps;
            line-height: 1rem;
        }
        .toolforge-logo {
            padding-right: 4px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
        a:hover .toolforge-logo {
            -webkit-filter: none;
            filter: none;
        }
    }
    .info {
        text-align: right;
    }
}

main {
    padding: 1rem;
    background-color: @background-color-base;
}

.inline-list {
    li::before {
        content: " · ";
    }
    li:first-child::before {
        content: none;
    }
    li {
        display: inline;
    }
}

