name: CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - '**'

env:
  APP_ENV: test
  WIKI_URL: "https://commons.wikimedia.org/w/api.php"

jobs:
  build:

    strategy:
      matrix:
        php: [ '7.4', '8.0', '8.1', '8.2' ]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{matrix.php}}

    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'

    - name: Install
      run: |
        sudo apt-get update -q
        sudo apt-get install -y librsvg2-bin
        composer install
        npm ci

    - name: Run linting
      run: |
        composer lint
        npm run lint
        ./bin/console

    - name: Build assets
      run: |
          npm run assets
          git status
          git status | grep "nothing to commit, working tree clean"

    - name: Run tests
      run: |
        composer test
        npm run test
